body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.middle {
  margin: auto;
  width: 50%;
}

.mid{
  background:linear-gradient(#C3DD34, #96AB26);
  justify-content:"center";
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-direction:column;
}

.cardText{
  align-items: center;
}